<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>POST LOGIN</title>
</head>
<body>
<form onsubmit="return isValidURL()" action="#" th:action="@{/open}" method="post" th:object="${userData}">
    <table>
        <tr>
            <td><label>Enter the URL</label></td>
            <td><input type="text" id="URL" th:field="*{myUrl}"></input></td>
        </tr>
        <tr>
            <td><input type="hidden" th:field="*{userId}" value="*{userId}"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
<script>
    function isValidURL() {
        var string = document.getElementById("URL");
    };
</script>

</body>
</html>